
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900");

body {
  font-family: "Open Sans", sans-serif;
  color: #00008B;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover {
  color: #9eccf4;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Raleway", sans-serif;
  margin-bottom: 0.5rem;
}

/*--------------------------------------------------------------
# return-to-top
--------------------------------------------------------------*/
#return-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  background: #428bca;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#return-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

#return-to-top:hover {
  background: #629fd3;
  color: #fff;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.header_top {
  padding: 10px 0px;
  background-color: #587187;
}
.header_contact_info {
  margin-bottom: 0;
}
.header_contact_info li {
  display: inline-block;
  font-size: 11px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
}

.header_contact_info li:before {
  content: "";
  width: 1px;
  height: 10px;
  top: 2px;
  background: #fff;
  display: inline-block;
  position: relative;
  margin: 0px 12px 0px 10px;
}

.header_contact_info li:first-child:before {
  display: none;
}

.header_contact_info li a {
  color: #fff;
  font-weight: 300;
  padding-left: 5px;
}

.header_social_icon {
  text-align: right;
  margin-bottom: 0;
}

.header_social_icon li {
  display: inline-block;
  margin: 0px 0px 0px 15px;
}

.header_social_icon li a {
  font-size: 12px;
  color: #fff;
}
.header_top a {
  transition: color 0.3s linear;
}

.header_top a:hover {
  color: #9eccf4;
}
.header_top a {
  transition: color 0.3s linear;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  background: #fff;
  z-index: 997;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.06);
}
#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: #1c5c93;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 60px;
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation cureboon_navbar
--------------------------------------------------------------*/

.cureboon_header{
  box-shadow: 0 4px 6px 0 rgb(12 0 46 / 6%);
  background: #fff;
}

.cureboon_navbar {
  padding: 0;
  transition: all .2s linear;
}
.cureboon_navbar .navbar-brand img{
  max-height: 60px;
}
.navbar-nav>.nav-item+.nav-item {
  margin-left: 40px;
}
.cureboon_navbar .navbar-nav .nav-item .nav-link {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #00008B;
  padding: 0px;
  transition: color 0.3s ease 0s;
  position: relative;
}
.cureboon_navbar .navbar-nav .nav-item .nav-link:hover, .cureboon_navbar .navbar-nav .nav-item .nav-link:focus, .cureboon_navbar .navbar-nav .nav-item .nav-link.active {
  color: #428bca;
}
.dropdown_toggle::after{
  content: "\f107";
  display: inline-block;
  right: 0;
  font: normal normal normal 14px/1 FontAwesome;
}
.cureboon_navbar .navbar-nav .nav-item .dropdown-menu{
    margin: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    left: -40px;
    min-width: 251px;
    padding: 0;
    background: #fff;
    box-shadow: -1px 2px 19px 3px rgb(14 0 40 / 5%);
    top: 46px;
}
.cureboon_navbar .navbar-nav .nav-item .dropdown-menu li {
    display: block;
    width: 100%;
    margin-right: 0;
    padding: 0 21px;
    position: relative;
}
.cureboon_navbar .navbar-nav .nav-item .dropdown-menu li:first-child{
  padding-top: 20px;
}
.cureboon_navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-item {
  padding: 0 0 11px;
  font-size: 14px;
    line-height: 19px;
  color: #00008B;
  transition: color .2s linear;
  background-color: #fff;
  transition: .6s all ease-out;
}
.cureboon_navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-item .active{
  color: #428bca;
}
.cureboon_navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-item:hover, .cureboon_navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-item:focus {
  color: #428bca;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 30px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f5f9fc;
}

.section-title {
  text-align: center;
  padding-bottom: 0px;
}
.section-title h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: #00008B;
}
.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background-color: #f5f9fc;
  min-height: 40px;
}
.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
  padding-bottom: 30px;
}
.about .section-title p {
  text-align: left;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}
.about .about-content {
  padding: 32px;
}
.about .icon-box + .icon-box {
  margin-top: 30px;
}
.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  background: #f1f7fb;
  border-radius: 6px;
  transition: 0.5s;
}
.about .icon-box .icon i {
  color: #00008B;
  font-size: 32px;
}
.about .icon-box:hover .icon {
  background: #00008B;
}
.about .icon-box:hover .icon i {
  color: #fff;
}
.about .icon-box .title {
  margin-left: 95px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
}
.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}
.about .icon-box .title a:hover {
  color: #428bca;
}
.about .icon-box .description {
  margin-left: 95px;
  line-height: 24px;
  font-size: 14px;
  text-align: justify;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
/*--------------------------------------------------------------
# About Lists
--------------------------------------------------------------*/

.about-lists .row {
  overflow: hidden;
}
.about-lists .content-item {
  padding: 40px;
  border-left: 1px solid #d9e8f4;
  border-bottom: 1px solid #d9e8f4;
  margin: -1px;
  text-align: center;
}
.about-lists .content-item span {
  display: block;
  font-size: 24px;
  font-weight: 400;
  color: #9eccf4;
}
.about-lists .content-item h4 {
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  margin: 10px 0;
  color: #00008B;
}
.timeline-content h4{
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  margin: 10px 0;
  color: #00008B;
}
.timeline-content p{
  text-align: justify;
    font-size: 14px;
    line-height: 24px;
}
.about-lists .content-item p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  line-height: 24px;
  text-align: justify;
}
@media (max-width: 768px) {
  .about-lists .content-item {
    padding: 40px 0;
  }
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding-bottom: 30px;
}
.counts .count-box {
  box-shadow: 0px 0 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: #fff;
  margin-bottom: 30px;
}
.counts .count-box i {
  display: block;
  font-size: 64px;
  margin-bottom: 15px;
}
.counts .count-box span {
  font-size: 42px;
  display: block;
  font-weight: 700;
  color: #1c5c93;
}
.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services .icon-box {
  margin-bottom: 20px;
  text-align: center;
}
.services .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  color: #428bca;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.services .icon i {
  font-size: 36px;
  line-height: 0;
}
.services .icon-box:hover .icon {
  box-shadow: 0px 0 30px rgba(66, 139, 202, 0.5);
}
.services .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
}
.services .title a {
  color: #00008B;
  transition: 0.3s;
}
.services .title a:hover {
  color: #428bca;
}
.services .title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #428bca;
  bottom: 0;
  left: calc(50% - 25px);
}
.services .description {
  line-height: 24px;
  font-size: 14px;
}


/*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/
.team {
  padding: 60px 0 30px 0;
  margin-top: 50px;
}
.team .member {
  margin-bottom: 30px;
  position: relative;
  background-color: #fff;
  padding: 0px;
  transition: all .3s ease-out 0s;
}
.team .member h4 {
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  margin-bottom: 5px;
}
.team .member h3{
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  margin-bottom: 5px;
  font-style: italic;
}
.team .member p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}
@media (max-width: 992px) {
  .team .member {
    margin-bottom: 100px;
  }
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact .info-box {
  color: #00008B;
  text-align: center;
  padding: 20px 0 30px 0;
  margin-bottom: 20px;
  width: 100%;
  background-color: #fff;
}
.contact .contact-bg {
  background-color: #f5f9fc;
}
.contact .info-box i {
  font-size: 25px;
  color: #428bca;
  border-radius: 50%;
  border: 2px dotted #9eccf4;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.contact .info-box h3 {
  font-size: 18px;
  color: #00008B;
  font-weight: 600;
  margin: 10px 0;
}
.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.contact .php-email-form {
  padding: 30px;
  border: 1px solid #f4eefb;
  transition: all .3s ease-out 0s;
}
.contact .php-email-form:hover {
	box-shadow: 0 0 30px rgba(215, 224, 252, .45)
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form .form-group {
  margin-bottom: 30px;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 12px;
}
.contact .php-email-form input::focus, .contact .php-email-form textarea::focus {
  background-color: #428bca;
}
.contact .php-email-form input {
  padding: 12px 14px;
}
.contact .php-email-form textarea {
  padding: 15px;
}
.contact .php-email-form button[type=submit] {
  background: #428bca;
  border: 0;
  padding: 15px 30px;
  color: #fff;
  transition: 0.4s;
}
.contact .php-email-form button[type=submit]:hover {
  background: #629fd3;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#footer {
  background: #587187;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}
#footer .footer-top {
  background: #5c768d;
  border-top: 1px solid #768fa6;
  border-bottom: 1px solid #67839c;
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #768fa6;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #428bca;
  color: #fff;
  text-decoration: none;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 7px;
  color: #9eccf4;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  color: #9eccf4;
}
#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4;
}
#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}
#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #428bca;
  color: #fff;
  transition: 0.3s;
  border-radius: 4;
}
#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #5295ce;
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
#footer .credits a {
  color: #9eccf4;
}
.Smart_consult_Slider .item .Kpra_India_cliens{
  width:100%;
  height:201px;
  padding:30px;
  background-color:#fff;
  border-radius:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  
}
.Smart_consult_Slider .item .Kpra_India_cliens img{
  max-width:100%;
  height:auto
}

.time-line {
	position: relative
}

.time-line .row {
	position: relative
}

.time-line::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
  background: #d9e8f4;
  z-index: 1;
}

@media only screen and (min-width:768px) and (max-width:991px) {
	.time-line::after {
		display: none
	}
}

@media(max-width:767px) {
	.time-line::after {
		display: none
	}
  .mobiledevice{
    display: none !important;
  }
}

.time-line .box-icon-style {
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 1px solid #f4eefb;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	background-color: #fff;
	transform: translate(-50%, -50%);
	transition: all .3s ease-out 0s
}

@media only screen and (min-width:768px) and (max-width:991px) {
	.time-line .box-icon-style {
		position: static;
		transform: translate(0);
		margin-bottom: 30px
	}
}

@media(max-width:767px) {
	.time-line .box-icon-style {
		position: static;
		transform: translate(0);
		margin-bottom: 30px
	}
}

.time-line .box-icon-style i {
	transition: all .3s ease-out 0s;
	font-size: 25px;
	padding: 2px;
	color: #00008B
}

@media only screen and (min-width:768px) and (max-width:991px) {
	.time-line .single-timeline {
		margin-bottom: 50px
	}
}

@media(max-width:767px) {
	.time-line .single-timeline {
		margin-bottom: 50px
	}
}

.time-line .single-timeline:hover .box-icon-style {
	background: #00008B;
	color: #fff;
	border-color: transparent
}

.time-line .single-timeline:hover .box-icon-style i {
	color: #fff
}

@media only screen and (min-width:768px) and (max-width:991px) {
	.time-line .single-timeline .timeline-img {
		margin-bottom: 30px
	}
}

@media(max-width:767px) {
	.time-line .single-timeline .timeline-img {
		margin-bottom: 30px
	}
}

.time-line .single-timeline .timeline-img img {
	width: 100%
}
.cliebt_box{
  width: 100%;
  height: 180px;
  padding: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d9e8f4;
  animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  overflow: hidden;
}
.cliebt_box img{
  max-width: 100%;
  height: 100%;
}
/*--------------------------------------------------------------
# banner
--------------------------------------------------------------*/
.kpraindia_main_banner {
  width: 100%;
  height: 80vh;
  padding: 0;
  overflow: hidden;
  background: #000;
}
.kpraindia_main_banner .item {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.kpraindia_main_banner .item::before {
  content: "";
  background-color: rgba(13, 30, 45, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.kpraindia_main_banner .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.kpraindia_main_banner .carousel-content {
  text-align: left;
  z-index: 1080;
}

.kpraindia_main_banner .item .item_heading {
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 30px;
  color: #fff;
}
.kpraindia_main_banner .item  p {
  width: 80%;
  color: #fff;
  font-size: 18px;
  margin-bottom: 30px;
}

.see_services_btn{
    padding: 12px 18px;
    background-color: #587187;
    color: #fff;
    letter-spacing: 0.32px;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid #587187;
    transition: .6s all ease-out;
    border-radius: 0px;
    min-width: 160px;
}
.see_services_btn:hover, .see_services_btn:focus {
  color: #fff;
  border: 1px solid #fff;
  outline: none;
  background-color: transparent;
}
.Contact_Us_btn{
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}

.Contact_Us_btn:hover, .Contact_Us_btn:focus {
  background-color: #587187;
  color: #fff;
  border: 1px solid #587187;
}
.banner_btn a+ a{
  margin-left: 20px;
}

#Smart_banner_Slider .owl-nav {
  position: absolute;
  bottom: auto;
  left: 0%;
  top: auto;
}

#Smart_banner_Slider .owl-nav .owl-prev{    
  width: 46px;
  height: 46px;
  line-height: 46px;
  border-radius: 0px;
  background-color: transparent; 
  text-align: center;
  font-size: 40px;
  color: #929aaa;   
  transition: all .6s ease-in-out; 
}
#Smart_banner_Slider .owl-nav .owl-prev:hover{    
  background-color: #1a0a35; 
  color: #fff; 
}
#Smart_banner_Slider .owl-nav div+ div{
  margin-left: 15px;
}


@media (max-width: 991.98px) { 
  .kpraindia_main_banner .item, .kpraindia_main_banner{
    height: 60vh;
  }
  .kpraindia_main_banner .item p {
    width: 100%;
}
  #navbarNavDropdown {
      padding: 30px;
      position: absolute;
      top: 70px;
      right: 0;
      background-color: #FFF;
      width: 100%;
      z-index: 999;
      box-shadow: -1px 2px 19px 3px rgb(14 0 40 / 5%);
  }
  .navbar-nav>.nav-item+.nav-item {
    margin-left: 0px;
}
  .fintech_navbar_main .navbar .navbar-nav .nav-item {
      margin-bottom: 25px;
  }
  .round_shape_one {
      width: 600px;
      height: 600px;
      margin-top: -300px;
      margin-left: -300px;
  }
  .navbar-toggler {
      color: #fff;
      padding: 0;
      background-color: transparent;
      border-radius: 0;
      
  }
  .cureboon_navbar .navbar-toggler {
    border: 0;
}
  .navbar-toggler:hover, .navbar-toggler:focus {
      box-shadow: none;
      outline: none;
      border: 0;
  }
  .cureboon_navbar .navbar-nav .nav-item {
    margin-top: 15px;
}
.cureboon_navbar .navbar-nav .nav-item .dropdown-menu {
  box-shadow: none;
}
}
.kpra_list{
  padding-left: 0;
  list-style: none;
  margin-bottom: 30px;
  padding-top: 0px;
}

.kpra_list li {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  padding-left: 20px;
  margin-top: 5px;
}
.kpra_list li span{
  font-weight: 600;
}
.kpra_list li:before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #00008B;
  position: absolute;
  left: 0;
  top: 10px;
}
.section-title p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0px;
  text-align: justify;
}
#management_Slider .item .management_box{
  background: #fff;
  box-shadow: 0 2px 7px 0 rgb(12 0 46 / 10%);
  border-radius: 10px;
  text-align: center;
  display: block;
  padding: 26px 0;
  margin-bottom: 30px;
  transition: all .2s linear;
  z-index: 1;
  position: relative;
}
#management_Slider .item .management_box a{
  font-size: 18px;
  font-weight: 700;
  color: #00008B;
}
.mng_info_box{
  background-color: #f5f9fc;
  box-shadow: 0 2px 7px 0 rgb(12 0 46 / 10%);
}
.inner_body h3{
  color: #00008B;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}